<section class="section-delivery" id="delivery">
  <div class="container center-text">
    <div class="subheading" data-translate="deliveryPayForm">
      Formy dostawy i płatności
    </div>
  </div>
  <div class="content-delivery grid--2-rows">
    <div class="image-delivery">
      <img
        src="../img/Poczta Polska.svg"
        class="img-delivery"
        alt="Poczta Polska"
      />
    </div>

    <div class="wrapper">
      <div class="text-delivery">
        <ul style="list-style: none; width: 100%">
          <li class="list-delivery">
            <h3 class="delivery-heading" data-translate="deliverySendCosts">
              Koszt Wysyłki Pocztą Polską:
            </h3>

            <div id="options-delivery">
              <table class="table-delivery">
                <thead>
                  <tr>
                    <th data-translate="deliveryOptions">Opcje</th>
                    <th class="price-head" data-translate="deliveryCost">
                      Koszt
                    </th>
                  </tr>
                </thead>
                <tbody id="delivery-table-body"></tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
