<section class="section-delivery" id="delivery">
  <div class="container center-text">
    <div class="subheading">Formy dostawy i płatności</div>
  </div>
  <div class="content-delivery grid--2-rows">
    <div class="image-delivery">
      <img
        src="../img/postal-service.jpg"
        class="img-delivery"
        alt="delivery-man"
      />
    </div>

    <div class="text-delivery">
      <ul style="list-style: none">
        <li class="list-delivery">
          <h3>Sposoby Dostawy:</h3>
          Opis różnych opcji dostawy, takich jak dostawa kurierem, odbiór
          osobisty, poczta, itp. Informacje o czasie realizacji zamówienia dla
          każdej opcji dostawy.
        </li>
        <li class="list-delivery">
          <h3>Koszty Dostawy:</h3>
          Przedstawienie tabeli lub listy z kosztami dostawy dla różnych
          regionów lub opcji dostawy. Informacje o ewentualnych promocjach lub
          zniżkach na dostawę.
        </li>
        <li class="list-delivery">
          <h3>Warunki Dostawy:</h3>
          Wyjaśnienie warunków, które muszą być spełnione, aby móc skorzystać z
          danej opcji dostawy (np. minimalna wartość zamówienia dla darmowej
          dostawy).
        </li>
        <li class="list-delivery">
          <h3>Śledzenie Dostawy:</h3>
          Jeśli oferujesz usługę śledzenia dostawy, wyjaśnienie, jak klient może
          śledzić swoje zamówienie po jego wysłaniu.
        </li>
        <li class="list-delivery">
          <h3>Zwroty i Reklamacje:</h3>
          Informacje dotyczące procedury zwrotów i reklamacji związanych z
          dostawą. Wymagane dokumenty i kroki do wykonania w przypadku problemów
          z dostawą.
        </li>
        <li class="list-delivery">
          <h3>Obszary Dostawy:</h3>
          Lista regionów, w których oferujesz dostawę oraz dodatkowe informacje
          o dostępności dostawy dla różnych lokalizacji.
        </li>
        <li class="list-delivery">
          <h3>Czas Dostawy:</h3>
          Przybliżony czas dostawy dla każdej opcji dostawy oraz wyjaśnienie,
          czy to jest czas szacunkowy czy dokładny.
        </li>
        <li class="list-delivery">
          <h3>Kontakt Dla Pytań:</h3>
          Udostępnienie kontaktu do obsługi klienta w przypadku pytań lub
          niejasności związanych z dostawą.
        </li>
        <li class="list-delivery">
          <h3>Informacje o Odbiorze Osobistym:</h3>
          Jeśli klient ma możliwość odbioru zamówienia osobiście, podaj
          informacje o miejscu, godzinach i procedurze odbioru.
        </li>
        <li class="list-delivery">
          <h3>Bezpieczeństwo Dostawy:</h3>
          W przypadku ważnych lub delikatnych przesyłek, opis zabezpieczeń,
          jakie są stosowane, aby zapewnić bezpieczeństwo produktów podczas
          dostawy.
        </li>
      </ul>
    </div>
  </div>
</section>
