<section class="section-delivery" id="delivery">
  <div class="container center-text">
    <div class="subheading">Formy dostawy i płatności</div>
  </div>
  <div class="content-delivery grid--2-rows">
    <div class="image-delivery">
      <img
        src="../img/postal-service.jpg"
        class="img-delivery"
        alt="delivery-man"
      />
    </div>

    <div class="wrapper">
      <div class="text-delivery">
        <ul style="list-style: none; width: 100%">
          <li class="list-delivery">
            <h3 class="delivery-heading">Koszt Wysyłki Pocztą Polską:</h3>

            <div id="options-delivery">
              <table class="table-delivery">
                <thead>
                  <tr>
                    <th>Opcje</th>
                    <th class="price-head">Koszt</th>
                  </tr>
                </thead>
                <tbody id="delivery-table-body"></tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-modal" onclick="handleModal();">
      <a data-modal="modal-one">Open Modal</a>
    </div>

    <div class="modal" id="modal-one">
      <div class="modal-bg modal-exit"></div>
      <div class="modal-container">
        <div class="modal-card">
          <img
            src="/img/promo/plate-1.jpg"
            alt="tablica rejestracyjna"
            class="shop-img"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="modal-card">
          <p><span>Tablica z USA</span></p>
          <p><span>Kraj:</span> Stany Zjednoczone</p>
          <p><span>Stan:</span> Pensylwania</p>
          <p><span>Wymiary tablicy:</span> 30/15</p>
          <p><span>Rok wydania:</span> 2137</p>
          <p><span>Stan tablicy:</span> bardzo dobry</p>
        </div>
        <button class="modal-close modal-exit">X</button>
      </div>
    </div>
  </div>
</section>
