<section class="section-main" id="main">
  <div class="main-background"></div>
  <!-- <div class="main-plate"> -->
  <!-- <div class="main">
    <h1 class="heading-primary" data-translate="headingPrimary">
      Tablice rejestracyjne z USA.
    </h1>
    <svg class="plate-svg" viewbox="0 0 100 50" width="100%" height="100%">
      <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%">
          <rect x="0" y="0" width="100" height="100" fill="#fff" />
          <rect x="10" y="5" width="8" height="3" fill="black" rx="1.5" />
          <rect x="10" y="40" width="8" height="3" fill="black" rx="1.5" />
          <rect x="80" y="5" width="8" height="3" fill="black" rx="1.5" />
          <rect x="80" y="40" width="8" height="3" fill="black" rx="1.5" />
        </mask>
      </defs>
      <rect
        width="100"
        height="50"
        mask="url(#mask)"
        transform="translate(0.4,0.4)"
        class="shadow"
      ></rect>
      <rect
        x="0"
        y="0"
        width="100"
        height="50"
        mask="url(#mask)"
        fill="white"
      />
    </svg>
  </div> -->
</section>

<div class="wrapper">
  <section class="section-promo el--3" id="promo">
    <div class="container center-text">
      <div class="subheading" data-translate="subheading">Promocje</div>
      <h2 class="heading-secondary" data-translate="headingSecondary">
        Najlepsze oferty na stronie!
      </h2>
    </div>
    <div class="promo-bar" id="promo-bar">
      <div class="container center" id="loader">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section>
    <div class="container center-text">
      <div class="subheading" data-translate="shopHeading">Sklep</div>
      <h2 class="heading-secondary" data-translate="checkOut">
        Sprawdź nasze nowości!
      </h2>
    </div>
    <div class="shop-bar" id="shop-bar-main"></div>
    <div class="button-wrapper">
      <a
        href="#sklep"
        class="btn btn--full"
        data-translate="viewMore"
        onclick="resetFilters();"
        >Zobacz więcej!</a
      >
    </div>
  </section>
</div>
