<section class="section-promo el--3" id="promo">
  <div class="container center-text">
    <div class="subheading">Promocje</div>
    <h2 class="heading-secondary">Najlepsze oferty na stronie!</h2>
  </div>
  <div class="container center" id="loader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="promo-bar" id="promo-bar"></div>
</section>
<div class="button-wrapper">
  <a href="#shop" class="btn btn--full" onclick="getPlates();"
    >Sprawdź inne oferty!</a
  >
</div>
