<script type="text/javascript">
  translation();
</script>
<div class="container center-text">
  <div class="subheading"
  data-translate="shopSubheading">Sklep</div>
  <!-- <h2 class="heading-secondary"></h2> -->
</div>

<div class="grid grid--2-cols">
  <section class="section-category el--2">
    <div class="category-bar">
      <button class="accordion" onclick="displayAll();" data-translate="shopAllBtn">Wszystkie</button>
      <div>
      <button class="accordion arrow" onclick="toggleButton(this);" data-translate="shopUsaBtn">
        Stany Zjednoczone
      </button>
    </div>
      <div class="panel">
        <ul class="menu-nav-list" id="usa"></ul>
      </div>

      <button class="accordion" onclick="getOtherCountry(this);" data-translate="shopMexicoBtn">Meksyk</button>

      <button class="accordion" onclick="getOtherCountry(this);" data-translate="shopCanadaBtn">Kanada</button>
      <button class="accordion" onclick="getOtherCountry(this);" data-translate="shopRestBtn">
        Reszta Świata
      </button>

      <button class="accordion" data-translate="shopFramesBtn">Ramki, tablice motocyklowe</button>

      <button class="accordion" data-translate="shopOthersBtn">Inne kategorie</button>
    </div>
  </section>

  <section class="section-shop el--3" id="shop">
    <div class="sorting">
      <div id="sorting-background" onclick="closeSortingMenu();"></div>
      <div class="select animated zoomIn">
        <span class="select-placeholder" onclick="openSortingMenu();"
        data-translate="shopSortBar">Sortuj...</span
        >
        <div id="options-container">
          <label
            class="option"
            id="country.name asc, state.name asc"
            onclick="selectedOption(this);"
          >
            <span class="title animated fadeIn"
              ><i class="icon icon-speedometer"></i data-translate="">Nazwa: A - Z</span
            >
          </label>
          <label
            class="option"
            id="country.name desc, state.name desc"
            onclick="selectedOption(this);"
          >
            <span class="title animated fadeIn"
              ><i class="icon icon-fire"></i data-translate="">Nazwa: Z - A</span
            >
          </label>

          <label class="option" id="price asc" onclick="selectedOption(this);">
            <span class="title animated fadeIn"
              ><i class="icon icon-badge"></i data-translate="">Cena: od najniższej</span
            >
          </label>
          <label class="option" id="price desc" onclick="selectedOption(this);">
            <span class="title animated fadeIn"
              ><i class="icon icon-badge"></i data-translate="">Cena: od najwyższej</span
            >
          </label>
          <label class="option" id="year asc" onclick="selectedOption(this);">
            <span class="title animated fadeIn"
              ><i class="icon icon-badge"></i data-translate="">Rok: rosnąco</span
            >
          </label>
          <label class="option" id="year desc" onclick="selectedOption(this);">
            <span class="title animated fadeIn"
              ><i class="icon icon-badge"></i data-translate="">Rok: malejąco</span
            >
          </label>
        </div>
      </div>
    </div>
    <div class="container center" id="loader">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="shop-bar" id="shop-bar">
      <!-- script get-all-plates.js -->
    </div>
    <div id="scroll-loader">
      <div class="skeleton-card"></div>
      <div class="skeleton-card"></div>
      <div class="skeleton-card"></div>
      <div class="skeleton-card"></div>
    </div>
    <div class="card-actions">
      <span
        >Oferty <span id="card-count"></span> z
        <span id="card-total"></span> ofert
      </span>
    </div>

    <!-- Infinite scroll -->
    <!-- <div id="card-container"></div> -->
  </section>
</div>
